<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>{% block title %}Ultimate frisbee shop{% endblock %}</title>
        {% block stylesheets %}
    		{% if app.session.get('cssStyle') == 'Standard' %}
    			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrap.min.css') }}" />
    		{% elseif app.session.get('cssStyle') == 'Amelia' %}
    			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrapAmelia.min.css') }}" />
    		{% elseif app.session.get('cssStyle') == 'SuperHero' %}
    			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrapSuperHero.min.css') }}" />
    		{% elseif app.session.get('cssStyle') == '' %}
    			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrap.min.css') }}" />
    		{% endif %}
    		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/jqueryUI-with-flickTheme/jquery-ui-1.9.1.min.css') }}"></script>
        	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/UFgeneral.css') }}"/>
    	{% endblock %}
        {% block javascript %}
       		<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/jquery-1.8.2.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/jquery-ui-1.9.1.min.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/UFnavSubmenuPlugin.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/UFnavSubmenu.js') }}"></script>
        {% endblock %}
    	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="navbar">
		    <div class="navbar-inner">
			    <div class="span12 uf-nav">
			    <a class="brand" href="{{ path("uf_home") }}">Ultimate frisbee shop</a>
					    <ul class="nav">
					    <li><a href="{{ path("uf_sport") }}"><i class="icon-book icon-white"></i> The sport</a></li>
					    <li id="tournamentsMenuPlaceholder">
					    	<a href="{{path('uf_tournament')}}"><i class="icon-calendar icon-white"></i> Tournaments</a>
						    <div style="display:none;">
					    		<ul>
									<li><a href="{{path('uf_tournament')}}"><i class="icon-list"></i> All tournaments</a></li>
									<li><a href="{{path('uf_tournament_calendar')}}"><i class="icon-calendar"></i> Tournaments by date</a></li>
								</ul>
						    </div>
						</li>
						<li id="shopMenuPlaceholder">
						    <a href="{{ path('uf_shop') }}"><i class="icon-shopping-cart icon-white"></i> Products</a>
						    <div style="display:none;">
					    		<ul>
				    				<li><a href="{{path('uf_shop')}}"><i class="icon-shopping-cart"></i> Shop</a></li>
					    			{% if is_granted('ROLE_ADMIN') %}
					    			<li><a href="{{path('uf_admin')}}"><i class="icon-cog"></i><strong> Admin</strong></a></li>
									{% endif %}
								</ul>
						    </div>
					    </li>
						<li><a href="{{ path('uf_gallery') }}"><i class="icon-picture icon-white"></i> Photos</a></li>
					    <li id="contactMenuPlaceholder">
						    <a href="{{path('uf_contact')}}"><i class="icon-envelope icon-white"></i> Contact</a>
						    <div style="display:none;">
					    		<ul>
									<li><a href="{{path('uf_contact')}}"><i class="icon-th-list"></i> General informations</a></li>
									<li>
										<a href="{{path('uf_docView')}}"><i class="icon-file"></i> Description file</a>
										<ul>
											<li><a href="{{ asset('doc/document.docx') }}"><i class="icon-download"></i> Download</a></li>
											<li><a href="{{path('uf_docView')}}"><i class="icon-eye-open"></i> View</a></li>
										</ul>
									</li>
									<li><a href="{{path('uf_map')}}"><i class="icon-map-marker"></i> Location</a></li>
								</ul>
						    </div>
					    </li>
					    {% if is_granted('ROLE_USER') %}
						    <li id="logoutMenuPlaceholder">
						    	<a href="#"><i class="icon-user icon-white"></i> Account</a>
						    	<div style="display:none;">
						    		<ul>
										<li><a href="{{path('fos_user_security_logout')}}"><i class="icon-off"></i> Logout</a></li>
						    			<li><a href="{{path('fos_user_profile_show')}}"><i class="icon-user"></i> My profile</a></li>
						    			<li><a href="{{path('fos_user_profile_edit')}}"><i class="icon-pencil"></i> Edit profile</a></li>
						    		</ul>
						    	</div>
						    </li>
						{% else %}
							<li id="loginMenuPlaceholder">
								<a href="#"><i class="icon-user icon-white"></i> Account</a>
							    <div style="display:none;">
						    		<ul>
										<li><a href="{{path('fos_user_security_login')}}"><i class="icon-ok"></i> Login</a></li>
										<li><a href="{{path('fos_user_registration_register')}}"><i class="icon-edit"></i> Register</a></li>
									</ul>
							    </div>
						    </li>
						{% endif %}
					    </ul>
			    </div>
		    </div>
		</div>
		<div class="main span12">
		<div id="styleSwitcher">
			<blockquote>
			{% block styleswitcher %}
				<h4 id="titleStyleSwitcher">Style switcher: </h4>
				<form id="formStyleSwitcher" method="post" class="form-inline" action="{{ path("uf_home") }}">
					<label class="radio">
						<input type="radio" name="optionsRadioStyles" id="optionsRadio2" value="Standard" checked>
						<p>Standard</p>
					</label>
					<label class="radio">
						<input type="radio" name="optionsRadioStyles" id="optionsRadios1" value="Amelia">
						<p>Amelia</p>
					</label>
					<label class="radio">
						<input type="radio" name="optionsRadioStyles" id="optionsRadio2" value="SuperHero">
						<p>Superhero</p>
					</label>
					<input id="formStyleSwitcherButton" class="btn btn-mini btn-info" type="submit" value="Switch">
				</form>
			{% endblock %}
			</blockquote>
		</div>
	        {% block body %}{% endblock %}
	    </div>
    </body>
</html>
