<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>{% block title %}Ultimate frisbee shop{% endblock %}</title>
        {% block stylesheets %}
	        {% if customCss is defined %}
	        	{% if customCss == 'Standard' %}
	        		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrap.min.css') }}" />
	        	{% elseif customCss == 'Amelia' %}
	        		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrapAmelia.min.css') }}" />
	        	{% elseif customCss == 'SuperHero' %}
	        		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrapSuperHero.min.css') }}" />
	        	{% endif %}
	        {% else %}
	        	{% if app.session.get('cssStyle') is defined %}
	        		{% if app.session.get('cssStyle') == 'Standard' %}
	        			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrap.min.css') }}" />
	        		{% elseif app.session.get('cssStyle') == 'Amelia' %}
	        			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrapAmelia.min.css') }}" />
	        		{% elseif app.session.get('cssStyle') == 'SuperHero' %}
	        			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrapSuperHero.min.css') }}" />
	        		{% elseif app.session.get('cssStyle') == '' %}
	        			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrap.min.css') }}" />
	        		{% endif %}
	        	{% else %}
	        		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/bootstrap/css/bootstrap.min.css') }}" />
	        	{% endif %}
	        {% endif %}
    		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/UFgeneral.css') }}"/>
    	{% endblock %}
        {% block javascript %}
       		<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/jquery-1.8.2.js') }}"></script>
        {% endblock %}
    	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="navbar">
		    <div class="navbar-inner">
			    <div class="span12 uf-nav">
			    <a class="brand" href="{{ path("uf_home") }}">Ultimate frisbee shop</a>
				    <ul class="nav">
				    <li><a href="#">The sport</a></li>
				    <li><a href="#">Products</a></li>
				    <li><a href="#">Forum</a></li>
				    <li><a href="{{path('uf_contact')}}">Contact</a></li>
				    {% if is_granted('ROLE_USER') %}
					    <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
					{% else %}
						<li><a href="{{ path("fos_user_security_login") }}">Login</a></li>
					{% endif %}
				    </ul>
			    </div>
		    </div>
		</div>
		<div class="main span12">
		<div id="styleSwitcher">
			<h4 id="titleStyleSwitcher">Style switcher: </h4>
			<form id="formStyleSwitcher" method="post" class="form-inline" action="{{ path("uf_home") }}">
				<label class="radio">
					<input type="radio" name="optionsRadioStyles" id="optionsRadio2" value="Standard" checked>
					<p>Standard</p>
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadioStyles" id="optionsRadios1" value="Amelia">
					<p>Amelia</p>
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadioStyles" id="optionsRadio2" value="SuperHero">
					<p>Superhero</p>
				</label>
				<input id="formStyleSwitcherButton" class="btn btn-mini btn-info" type="submit" value="Switch">
			</form>
		</div>
	        {% block body %}{% endblock %}
	    </div>
    </body>
</html>
