{% extends '::base.html.twig' %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
	<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/UFgoogleMap.js') }}"></script>
{% endblock %}

{% block body %}
	<h1 class="titleUnderAccordion">Contacts </h1>
	<ul class="nav nav-tabs">
      <li><a href="{{path('uf_contact')}}">General informations</a></li>
      <li class="active"><a href="{{path("uf_map")}}">Location</a></li>
    </ul>
	<h2>Itinerary generator</h2>
	<div id="travelMode">
			<p style="display:block; float:left;">By car</p>
			<input style="display:block; float:left;" type="radio" name="optionsTravelMode" value="car" checked>
			<p style="display:block; float:left;">By foot</p>
			<input style="display:block; float:left;" type="radio" name="optionsTravelMode" value="walk">
	</div>
	<div id="control_panel" style="display:block;width:30px;text-align:left;padding-top:20px; margin-bottom:30px">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="start">Your address</label>
				<div class="controls">
					<input type="text" id="start" class="span8" placeholder="Address">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="button" class="btn btn-success" value="Generate road" onclick="calcRoute();">
				</div>
			</div>
		</form>
    </div>
    
    <img id="imageForLink" src="{{ asset('images/logo.jpg') }}"/>
	
	<div id="directions_panel" style="display:block; float:left; width:28%; margin-right: 8px; overflow-y:auto; height:500px; padding-right:5px;">
	    <p class="alert alert-info">No directions informations availiable yet. Please generate the road using the from above this text.</p>
    </div>
    
	<div id="map_canvas" style="display:block;margin-top:10px;float:rigth;width:650px;height:500px;margin-bottom:20px;"></div>
    
{% endblock %}
