{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/itbultimatefrisbee/css/UFimageRotator.css') }}" />
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/UFimageRotator.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="imageRotatorPlaceholder">
		<ul>
			<!-- TODO: add routing path('') -->
			<li><a href="#"><img name="ultimatePresentationImage" src="{{ asset('images/image1.jpg') }}" alt="image accordion ultimate"/></a></li>
			<li><a href="#"><img name="productsImage" src="{{ asset('images/image2.jpg') }}" alt="image accordion products"/></a></li>
			<li><a href="#"><img name="forumImage" src="{{ asset('images/image3.jpg') }}" alt="image accordion forum"/></a></li>
		</ul>
	</div>
	<h1 class="titleUnderAccordion">TestPage : Test bootstrap</h1>
	<a href="{{ path('uf_home') }}">Home Page</a>
{% endblock %}
