{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{{ asset('bundles/itbultimatefrisbee/js/UFgoogleMap.js') }}"></script>
{% endblock %}

{% block body %}
	<h1 class="titleUnderAccordion">Contacts </h1>
	<ul class="nav nav-tabs">
      <li><a href="{{path('uf_contact')}}">Mail references</a></li>
      <li class="active"><a href="{{path("uf_map")}}">Map</a></li>
    </ul>
	<h2>Itinerary generator</h2>
	<div id="control_panel" style="display:block;width:30px;text-align:left;padding-top:20px; margin-bottom:30px">
		<form class="form-horizontal">
		    <div class="control-group">
				<label class="control-label" for="inputAddress">Your address</label>
				<div class="controls">
					<input type="text" id="start" placeholder="Address">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="button" class="btn btn-success" value="Generate road" onclick="calcRoute();">
				</div>
			</div>
		</form>
    </div>
	
	<div id="directions_panel" style="display:block; float:left; width:30%; margin-right: 8px;">
	    <p class="alert alert-info">Lorem ipsum dolor sit amet, eu mel sonet graecis tibique, in pri tale minimum propriae, quo illum augue virtute et. Probatus neglegentur ad pri, cum in rebum persius necessitatibus, veniam explicari per id. Explicari repudiare percipitur has ut, facete nominavi voluptua eos no. Vis scaevola consulatu appellantur ea. Ius amet principes ex, vel novum adipiscing ei.</p>
    </div>
    
	<div id="map_canvas" style="display:block;float:rigth;width:650px;height:500px;margin-bottom:20px;"></div>
    
{% endblock %}
